{% extends './base_0.html' %}
    
{% block titulo %}Cargar contenido{% endblock titulo %}

{% block contenido %}

    <section class="mb-4 container">

        <br>
        <br>
        <br>

        <div class="row">
            <!--Section heading-->
            <h2 class="h1-responsive font-weight-bold text-center my-4">Cargar contenido</h2>
            <!--Section description-->
            <p class="text-center w-responsive mx-auto mb-5">Podes cargar chistes, cuentos o poesía</p>
        </div>

    
        <div class="row">
        <!--Grid column-->
            <div class="col-md-6 mb-md-0 mb-6">

                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                

                <form novalidate id="contenido-form" name="contenido-form" action="{% url 'cargar' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        {% for campo in contenido_form %}
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <label for="">{{campo.label}}</label>
                                    {{campo}}
                                </div>
                                <div>{{campo.errors}}</div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="text-center text-md-left mt-3">
                        <button class="btn btn-secondary" type="submit">Cargar</button>
                    </div>
                </form>
                <div class="status"></div>
            </div>
        <!--Grid column-->
            <!--Grid column-->
        </div>
    </section>

{% endblock contenido %}
