{% extends 'blog/base.html' %}
{% block content %}

    <div class="bordecito">

    <p class="posteos">Posts:</p>


    {% for post in posts %}

      <div class="globo">

        <p class="publicado"> Publicado: {{ post.fecha_de_publicacion }}</p>

        <p class="autor"> Autor: {{ post.autor }}</p>

<h2><a href="{% url 'detalle_de_post' pk=post.pk %}">{{ post.titulo }}</a></h2>

        <p class="coment">{{ post.texto|linebreaksbr }}</p>

      </div>

{% endfor %}

</div>

{% endblock %}
