{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/stonepaper.css' %}">
    <script src="../js/stonepaper.js"></script>
  </head>
  <body>
    <div id="tres">
<section id="losdos">
<article class="desafio">
  <p id="ganale">¡Ganale al T-800!</p>
</article>
<figure>
  <img src="../imagenes/t800.jpg" alt="T-800">
</figure>
</section>
<input type="button" id="comenzar" name="button" value="¡Comenzar!" onclick="comenz()">
</div>
</html>
