body{
     margin:0 auto;
     padding: 0;
     background-color: #FFF5F3;
}
header{
       width: 100vw;
}
#juga{
      text-align: center;
}
section{
        display: flex;

        height: 70vh;
        flex-direction: column;
        align-items: center;
        margin:0;
        padding: 0;
}
iframe{
         padding:0;
         width: 100%;
         height: 100%;
}
